*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

img{
  display: block;
  max-width: 100%;
}

body{
  font-family: "Manrope";
  font-optical-sizing: auto;
  background-color: #FFF7FC;
}

.container{
  max-width: 1110px;
  padding-inline: 16px;
  margin-inline: auto;
}
.topNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons{
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
}
.icons img {
  display: block; 
  width: 20px;
  height: auto;
  align-items: center;
  margin: 19px;
}
.logo{
  width: 90px;
  height: auto;
  border-radius: 50px;
}
.bottomNav{
  display: flex;
  gap: 30px;
}
.bottomNav:hover{
  color: #D14D72;
  transition: 0.3s;
}
.liste{
  list-style-type: none;
  display: flex;
  gap: 60px;
  margin-inline: auto;
  color: #7E30E1;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}
.liste li{
  color: #7E30E1;

}
.liste:hover{
  color: #D14D72;
  transition: 0.3s;
}

.productCards{
  margin-inline: auto;
  background-color: #FDEFF4;
  padding: 30px;
  margin-block: 50px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #E0DEDE;

}
.productCards:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.productsCards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}
.productImg{
  width: 200px;
  height: auto;
  margin-inline: auto;
}
.productTexts{
  text-align: center;
  margin-top: 10px;
}
.detayBtn{
  cursor: pointer;
  padding: 10px;
  background-color: #FFE3ED;
  border-radius: 4px;
  border: 1px solid #FFE3ED;
  margin-top: 17px;
}
.detayBtn:hover{
  background-color: #FBCFFC;
  transition: 0.4s;
}

.detailPage{
  background-color:#FDEFF4 ;
  margin: 30px;
  display: flex;
}

/* tablet */
@media (max-width: 1024px){
  .productsCards{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* telefon */
@media(max-width: 768px){
  .productsCards{
    grid-template-columns: repeat(2, 1fr);
  }
}
